* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header-container {
    display: flex;
    background-color: rgb(175, 126, 70);
    justify-content: flex-start;
    color: aliceblue;
}
.top-header,
.bottom-header {
    padding: 20px 0px 20px 20px;
    font-size: 200%;
}
img {
    background-size: cover;
}
.content {
    margin: 20px;
}
.section-1,
.section-2,
.section-3 {
    margin: 0px 0px 20px 20px;
}
.footer {
    display: flex;
    background-color: rgb(175, 126, 70);
    justify-content: flex-start;
    color: aliceblue;
}   

.footer-1,
.footer-2 {
    display: flex;
    font-size: larger;
    padding: 20px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.footer-2 {
    margin-left: auto;
}