* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header-container{
    display: flex;
    background-color: brown;
    justify-content: center;
}
.header1,
.header2,
.header3
{
    color: aliceblue;
    font-size: 150%;
    margin: 0px 130px 0px 130px;
}
.content-container {
    display: flex;
    justify-content: space-around;
    margin: 50px
}
.section1,
.section2,
.section3 {
    border: 2px solid rgb(255, 208, 0);
    border-radius: 20px;
    padding: 40px;
    font-size: 150%;
}

.footer {
    display: flex;
    background-color: brown;
    justify-content: flex-start;
    padding: 10px;
    color: aliceblue;
}